@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------------------------------ */
/* Root Variables */
/* ------------------------------ */
:root {
    --header-height: 40px;
    /* Define a altura do cabeçalho, ajuste conforme necessário */

    /* DarkMode Colors */
    --dark-primary-color: #F38064;
    --dark-secondary-color: #D47057;
    --dark-background-color: #222222;
    --dark-text-color: #ffffff;

    /* LightMode Colors */
    --light-primary-color: #F38064;
    --light-secondary-color: #D47057;
    --light-background-color: #ffffff;
    --light-text-color: #222222;

    --font-family: 'Poppins', sans-serif;

    /* Atualizando para usar variáveis dinâmicas de tema */
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --primary-color: var(--dark-primary-color);
}

body.light-mode {
    --background-color: var(--light-background-color);
    --text-color: var(--light-text-color);
    --primary-color: var(--light-primary-color);
}

/* ------------------------------ */
/* Body and General Elements */
/* ------------------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.4rem !important;
}

p {
    font-size: 1rem !important;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ajuste para evitar problemas com 100vh em dispositivos móveis */
html,
body {
    height: 100dvh;
    /* Usa dynamic viewport height para evitar exceder a barra de navegação */
}

/* ------------------------------ */
/* Header */
/* ------------------------------ */
header {
    margin: 20px;
    padding: 15px 15px 0 0;
}

header .controlButtons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/* Ajustando o tamanho dos ícones no header */
header i {
    font-size: 1.5rem;
    /* Mesmo tamanho dos ícones na classe option */
    cursor: pointer;
    /* Adicionando cursor pointer aos ícones no header */
    color: var(--text-color);
    transition: color 0.3s ease;
}

/* Adicionando animações de hover e active aos ícones no header */
header i:hover {
    color: var(--dark-primary-color);
    transform: scale(1.2);
    transition: transform 0.3s ease, color 0.3s ease;
}

header i:active {
    color: var(--dark-secondary-color);
    transform: scale(0.95);
    transition: transform 0.2s ease, color 0.2s ease;
}

/* ------------------------------ */
/* Main Section */
/* ------------------------------ */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: auto;
    /* Permite que o conteúdo determine a altura */
    box-sizing: border-box;
}

/* Ajustando a altura da div container dentro do main */
.container {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#presentation {
    margin-bottom: 40px;
    text-align: center;
}

/* Estilizando o span dentro do h1 na seção presentation */
section#presentation h1 span {
    text-decoration: underline;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

/* Alterando o layout de mainButtons para grid */
section#mainButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
}

section#mainButtons .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: color 0.3s ease;
    color: var(--text-color);
    cursor: pointer; /* Garante que toda a área seja clicável */
    padding: 20px; /* Adiciona espaçamento interno para aumentar a área clicável */
    width: 100%; /* Garante que o botão ocupe toda a largura disponível */
    height: 100%; /* Garante que o botão ocupe toda a altura disponível */
}

section#mainButtons .option:hover {
    color: var(--primary-color);
    transform: scale(1.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

section#mainButtons .option:active {
    color: var(--secondary-color);
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

section#mainButtons label:hover {
    cursor: pointer;
}

/* Aumentando o tamanho dos ícones */
section#mainButtons .option i {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* ------------------------------ */
/* Footer */
/* ------------------------------ */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--background-color);
    padding: 10px 0;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;

}

footer p {
    margin: 0;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    font-style: italic;
    transition: color 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
}

/* ------------------------------ */
/* Pages */
/* ------------------------------ */
#pages .project,
#pages .experience,
#pages .formation,
#pages .faq,
#pages .contact {
    display: block;
    /* Visível inicialmente para edição */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 1000;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* Estilo para a classe title dentro das páginas */
#pages .project .title,
#pages .experience .title,
#pages .formation .title,
#pages .faq .title,
#pages .contact .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px 25px;
}

#pages .project .title h1,
#pages .experience .title h1,
#pages .formation .title h1,
#pages .faq .title h1,
#pages .contact .title h1 {
    color: var(--text-color);
}

/* Ajustando as cores do ícone na classe title para seguir o padrão */
#pages .project .title i,
#pages .experience .title i,
#pages .formation .title i,
#pages .faq .title i,
#pages .contact .title i {
    /* Mesmo tamanho dos ícones na classe option */
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.3s ease;
}

#pages .project .title i:hover,
#pages .experience .title i:hover,
#pages .formation .title i:hover,
#pages .faq .title i:hover,
#pages .contact .title i:hover {
    color: var(--primary-color);
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#pages .project .title i:active,
#pages .experience .title i:active,
#pages .formation .title i:active,
#pages .faq .title i:active,
#pages .contact .title i:active {
    color: var(--secondary-color);
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

/* Limita o espaço das páginas ao elemento main */
main {
    position: relative;
    /* Define o main como referência para posicionamento */
    overflow: hidden;
    /* Garante que o conteúdo das páginas não ultrapasse o main */
}

#pages>div {
    display: block !important;
    /* Garante que todas as páginas estejam visíveis por padrão */
    position: absolute;
    /* Posiciona as páginas dentro do main */
    top: 0;
    /* Garante que o topo das páginas seja idêntico ao topo do main */
    left: 0;
    width: 100%;
    height: calc(100% - var(--header-height));
    /* Ajusta a altura para considerar o header */
    top: var(--header-height);
    /* Retorna o topo ao valor original */
    height: calc(100% - var(--header-height));
    /* Ajusta a altura para refletir o topo original */
    opacity: 1;
    /* Garante que todas as páginas estejam completamente visíveis */
}

/* Consolidando estilos comuns para as páginas */
#pages>div {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100dvh - var(--header-height));
    margin-top: var(--header-height);
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 1000;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-sizing: border-box;
}

#pages .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px 25px;
}

#pages .title h1 {
    color: var(--text-color);
}

#pages .title i {
    display: none;
    font-size: 1.5rem;
    color: var(--text-color);
    transition: color 0.3s ease, transform 0.3s ease;
}

#pages .title i:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

#pages .title i:active {
    color: var(--secondary-color);
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

#pages .content {
    color: var(--text-color);
    height: calc(100% - 90px);
    overflow-y: auto;
    padding: 20px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
}

.page {
    position: relative;
    /* transform: translateY(100%); */
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.page.open {
    transform: translateY(0);
    opacity: 1;
}

.page.close {
    transform: translateY(100%);
    opacity: 0;
}

/* Estilo para a sobreposição */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 10;
    display: none;
    transition: opacity 0.2s ease;
}

/* ------------------------------ */
/* Estilo para a página about */
/* ------------------------------ */

#pages .about .content {
    padding: 0 30px 250px 30px;
}

#pages .about .content .pdp {
    width: 120px;
    height: 120px;
    background-color: var(--dark-primary-color);
    border-radius: 50%;
    margin: 25px auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.342);
}

#pages .about .content .name {
    color: var(--primary-color);
    border-radius: 50%;
    margin: 25px auto;
}

#pages .about .content .description {
    text-align: center;
    margin-bottom: 25px;
    line-height: 1.8;
}

#pages .about .content .description hr {
    margin: 20px 0;
}

#pages .about .content .extra {
    text-align: justify;
}

#pages .about .content .extra h1 {
    margin: 20px 0;
    text-align: center;
}

#pages .about .content .extra ul {
    margin: 10px 15px 0 30px;
    line-height: 1.8;
}

#pages .about .content hr {
    margin: 50px 0;
}

/* ------------------------------ */
/* Estilo para a página experience */
/* ------------------------------ */

#pages .experience .content {
    padding: 0 30px 250px 30px;
}

#pages .experience .content h1 {
    margin-top: 50px;
    text-decoration: underline
}

/* Atualização para a div container na página formation */
#pages .experience .container {
    display: grid;
    grid-template-columns: 75px 1fr;
    /* Define duas colunas iguais */
    grid-template-rows: 1fr;
    /* Apenas uma linha */
    height: 120px;
    margin: 25px 0 0 15px;
}

#pages .experience .container .img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-size: cover;
    grid-row: 1;
    /* Primeira e única linha */
    grid-column: 1;
    /* Fica na primeira coluna */
}

#pages .experience .container .img.fr {
    width: 10px;
    height: 10px;
    background-color: #F38064;
}


#pages .container img {
    width: 1.5rem;
    height: 1.5rem;
}

#pages .experience .container .img.first {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6dRielCDQbQJ4SsSZlE-vjfZvLYSeeNSP5A&s');
}

#pages .experience .container .img.tmc {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm4aIHIdcRqBQsstDG-sppu9ljtdd44oLqoQ&s');
}

#pages .experience .container .img.htg {
    background-image: url('https://hashtaginformatique.fr/assets/img/logo.png');
}

#pages .experience .container .img.irto {
    background-image: url('https://media.licdn.com/dms/image/v2/C4E0BAQGF1FzL_4tpug/company-logo_100_100/company-logo_100_100/0/1630638772548?e=1758758400&v=beta&t=GYCbJ2ZpyLeAQpKwI6OFWBzP3G0JJG9mVVl3Ri21jt4');
}

#pages .experience .container .img.edf {
    background-image: url('https://media.licdn.com/dms/image/v2/D4E0BAQGJ5iv880eA7w/company-logo_100_100/B4EZVC6RsuGgAQ-/0/1740584329424/edf_logo?e=1758758400&v=beta&t=ejPBQPogGTjsVKh_E_7hR_mMsWZpjjZWfK2qNbib9ec');
}

#pages .experience .container .img.gcsn {
    background-image: url('https://media.licdn.com/dms/image/v2/D4E0BAQEX_TIBsem8Uw/company-logo_100_100/company-logo_100_100/0/1736952138852/groupe_casino_logo?e=1758758400&v=beta&t=E-Fu6nYLVrJksrxmqZRDk36RRoL6TlmXbYxCq6TG7sg');
}

#pages .experience .container .img.vtf {
    background-image: url('https://media.licdn.com/dms/image/v2/C4E0BAQEZzSxK75bpQg/company-logo_100_100/company-logo_100_100/0/1669108402228/vtfvacances_logo?e=1758758400&v=beta&t=OW59rCGKhiQLAiGI31rX7XPQFQ8J2T9Z47gr7ioXCwU');
}

#pages .experience .container .img.carmkt {
    background-image: url('https://media.licdn.com/dms/image/v2/D4E0BAQGkgl1BwGXNbA/company-logo_100_100/B4EZfUzGjEG4AU-/0/1751621855979/carrefour_logo?e=1758758400&v=beta&t=HB0cSHtJhmDSgmVvwaB_M4uMrwZyxfejUJyC2O-M1G4');
}

#pages .experience .container .instit p {
    text-align: start;
}


#pages .experience .content .instit span {
    font-weight: bold;
}

#pages .experience .content hr {
    margin: 50px 0;
}

/* ------------------------------ */
/* Estilo para a página formation */
/* ------------------------------ */

#pages .formation .content {
    padding: 0 30px 250px 30px;
}

#pages .formation .content h1 {
    margin: 50px;
    text-decoration: underline
}

/* Atualização para a div container na página formation */
#pages .formation .container {
    display: grid;
    grid-template-columns: 75px 1fr;
    /* Define duas colunas iguais */
    grid-template-rows: 1fr;
    /* Apenas uma linha */
    height: 120px;
    margin: 25px 0 0 15px;
}

#pages .formation .container .img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-size: cover;
    grid-row: 1;
    /* Primeira e única linha */
    grid-column: 1;
    /* Fica na primeira coluna */
}

#pages .formation .container .img.iade {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6dRielCDQbQJ4SsSZlE-vjfZvLYSeeNSP5A&s');

}

#pages .formation .container .img.lgf {
    background-image: url('https://media.licdn.com/dms/image/v2/D4E0BAQEBNiN7GcL1Jg/company-logo_200_200/company-logo_200_200/0/1692125362867/lyceegabrielfaure_logo?e=2147483647&v=beta&t=P2cpftUIgjyVSGhABUIOJyDTBLlQJsjZy-3vZGrUYhk');

}

#pages .formation .container .img.lph {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrpNYmTH7ls_4HJPzZ2_bIAsmDwR1BF6mVJiJTrqoat1tHKxurpTbrDsc3nxOGwdlG1T0&usqp=CAU');

}

#pages .formation .container .instit p {
    text-align: start;
}


#pages .formation .content .instit span {
    font-weight: bold;
}

#pages .formation .content hr {
    margin: 50px 0;
}

/* ------------------------------ */
/* Estilo para a página contact */
/* ------------------------------ */

#pages .contact .content {
    padding: 0 30px 250px 30px;
}

#pages .contact .content h1 {
    margin: 50px;
    text-decoration: underline
}

#pages .contact .content a {
    color: var(--dark-primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

#pages .contact .content a:hover {
    color: var(--dark-secondary-color);
}

#pages .contact .content .email-draw {
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 50px auto;
}

#pages .contact .content button {
    background-color: var(--dark-primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pages .contact .content button:hover {
    background-color: var(--dark-secondary-color);
}

#pages .contact .content button:active {
    background-color: #C0654F;
}

#pages .closeButton {
    cursor: pointer !important; /* Garante que o cursor seja exibido como pointer */
}