@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Melhorias gerais */
:root {
    --header-height: 40px;
    /* Define a altura do cabeçalho, ajuste conforme necessário */

    /* DarkMode Colors */
    --dark-primary-color: #FF3C3C;
    --dark-secondary-color: #b62828;
    --dark-background-color: #222222;
    --dark-text-color: #ffffff;

    /* LightMode Colors */
    --light-primary-color: #FF3C3C;
    --light-secondary-color: #b62828;
    --light-background-color: #ffffff;
    --light-text-color: #222222;

    --font-family: 'Poppins', sans-serif;

    /* Atualizando para usar variáveis dinâmicas de tema */
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --primary-color: var(--dark-primary-color);
    --secondary-color: var(--dark-secondary-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    padding: 15px;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ajuste para evitar problemas com 100vh em dispositivos móveis */
html,
body {
    height: 100dvh;
    /* Usa dynamic viewport height para evitar exceder a barra de navegação */
}

header {
    margin: 20px;
}

header .controlButtons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/* Ajustando o tamanho dos ícones no header */
header i {
    font-size: 2rem;
    /* Mesmo tamanho dos ícones na classe option */
    cursor: pointer;
    /* Adicionando cursor pointer aos ícones no header */
    color: var(--text-color);
    transition: color 0.3s ease;
}

/* Adicionando animações de hover e active aos ícones no header */
header i:hover {
    color: var(--dark-primary-color);
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
}

header i:active {
    color: var(--dark-secondary-color);
    transform: scale(0.95);
    transition: transform 0.2s ease, color 0.2s ease;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: auto;
    /* Permite que o conteúdo determine a altura */
    box-sizing: border-box;
}

/* Ajustando a altura da div container dentro do main */
.container {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#presentation {
    margin-bottom: 40px;
    text-align: center;
}

section#presentation h1 {
    font-size: 27px;
}

/* Estilizando o span dentro do h1 na seção presentation */
section#presentation h1 span {
    text-decoration: underline;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

/* Alterando o layout de mainButtons para grid */
section#mainButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px 30px;
    justify-content: center;
    align-items: center;
}

section#mainButtons .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: color 0.3s ease;
    color: var(--text-color);
}

section#mainButtons .option:hover {
    color: var(--primary-color);
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

section#mainButtons .option:active {
    color: var(--secondary-color);
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

section#mainButtons label:hover {
    cursor: pointer;
}

/* Aumentando o tamanho dos ícones */
section#mainButtons .option i {
    font-size: 2.3rem;
    margin-bottom: 10px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
    padding: 10px 0;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    font-style: italic;
    font-size: 15px;
    transition: color 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilo para a página about */
#pages .about {
    display: block;
    /* Visível inicialmente para edição */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 1000;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* Estilo para a classe title dentro da página about */
#pages .about .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px 25px;
}

#pages .about .title h1 {
    font-size: 1.5rem;
    color: var(--text-color);
}

/* Ajustando as cores do ícone na classe title para seguir o padrão */
#pages .about .title i {
    font-size: 2rem;
    /* Mesmo tamanho dos ícones na classe option */
    color: var(--text-color);
    transition: color 0.3s ease;
}

#pages .about .title i:hover {
    color: var(--primary-color);
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#pages .about .title i:active {
    color: var(--secondary-color);
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

/* Estilo para a classe content dentro da página about */
#pages .about .content {
    background-color: var(--light-background-color);
    color: var(--light-text-color);
    height: calc(100% - 90px);
    /* Subtraindo o espaço ocupado pela classe title */
    overflow-y: auto;
    padding: 20px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para as páginas project, experience, formation, faq e contact */
#pages .project,
#pages .experience,
#pages .formation,
#pages .faq,
#pages .contact {
    display: block;
    /* Visível inicialmente para edição */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 1000;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* Estilo para a classe title dentro das páginas */
#pages .project .title,
#pages .experience .title,
#pages .formation .title,
#pages .faq .title,
#pages .contact .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px 25px;
}

#pages .project .title h1,
#pages .experience .title h1,
#pages .formation .title h1,
#pages .faq .title h1,
#pages .contact .title h1 {
    font-size: 1.5rem;
    color: var(--text-color);
}

/* Ajustando as cores do ícone na classe title para seguir o padrão */
#pages .project .title i,
#pages .experience .title i,
#pages .formation .title i,
#pages .faq .title i,
#pages .contact .title i {
    font-size: 2rem;
    /* Mesmo tamanho dos ícones na classe option */
    color: var(--text-color);
    transition: color 0.3s ease;
}

#pages .project .title i:hover,
#pages .experience .title i:hover,
#pages .formation .title i:hover,
#pages .faq .title i:hover,
#pages .contact .title i:hover {
    color: var(--primary-color);
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#pages .project .title i:active,
#pages .experience .title i:active,
#pages .formation .title i:active,
#pages .faq .title i:active,
#pages .contact .title i:active {
    color: var(--secondary-color);
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

/* Limita o espaço das páginas ao elemento main */
main {
    position: relative;
    /* Define o main como referência para posicionamento */
    overflow: hidden;
    /* Garante que o conteúdo das páginas não ultrapasse o main */
}

#pages>div {
    display: block !important;
    /* Garante que todas as páginas estejam visíveis por padrão */
    position: absolute;
    /* Posiciona as páginas dentro do main */
    top: 0;
    /* Garante que o topo das páginas seja idêntico ao topo do main */
    left: 0;
    width: 100%;
    height: calc(100% - var(--header-height));
    /* Ajusta a altura para considerar o header */
    top: var(--header-height);
    /* Retorna o topo ao valor original */
    height: calc(100% - var(--header-height));
    /* Ajusta a altura para refletir o topo original */
    opacity: 1;
    /* Garante que todas as páginas estejam completamente visíveis */
}

/* Consolidando estilos comuns para as páginas */
#pages>div {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100dvh - var(--header-height));
    margin-top: var(--header-height);
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 1000;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-sizing: border-box;
}

#pages .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px 25px;
}

#pages .title h1 {
    font-size: 1.5rem;
    color: var(--text-color);
}

#pages .title i {
    font-size: 2rem;
    color: var(--text-color);
    transition: color 0.3s ease, transform 0.3s ease;
}

#pages .title i:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

#pages .title i:active {
    color: var(--secondary-color);
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

#pages .content {
    background-color: var(--light-background-color);
    color: var(--light-text-color);
    height: calc(100% - 90px);
    overflow-y: auto;
    padding: 20px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para a página contact */
#pages .contact .content {}

.page {
    position: relative;
    /* transform: translateY(100%); */
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.page.open {
    transform: translateY(0);
    opacity: 1;
}

.page.close {
    transform: translateY(100%);
    opacity: 0;
}

/* Estilo para a sobreposição */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 10;
    display: none;
    transition: opacity 0.2s ease;
}

/* -------------------------------- */
/* Estilo para a página about */
/* -------------------------------- */

#pages .about .content {
    padding: 0 20px 250px 20px;
}

#pages .about .content .pdp {
    width: 120px;
    height: 120px;
    background-color: var(--dark-primary-color);
    border-radius: 50%;
    margin: 25px auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.342);
}

#pages .about .content .name {
    color: var(--primary-color);
    border-radius: 50%;
    margin: 25px auto;
    font-size: 1.2rem;
}

#pages .about .content .description {
    text-align: center;
    margin-bottom: 25px;
    line-height: 1.8;
}

#pages .about .content .description hr {
    margin: 20px 0;
}

#pages .about .content .extra {
    text-align: justify;
}

#pages .about .content .extra h1 {
    margin: 20px 0;
}

#pages .about .content .extra ul {
    margin: 10px 15px 0 30px;
    line-height: 1.8;
}

/* -------------------------------- */
/* Estilo para a página formation */
/* -------------------------------- */

#pages .formation .content {
    padding: 0 20px 250px 20px;

}

#pages .formation .content h1 {
    margin-top: 50px;
    text-decoration: underline
}

/* Atualização para a div container na página formation */
#pages .formation .container {
    display: grid;
    grid-template-columns: 100px 1fr;
    /* Define duas colunas iguais */
    grid-template-rows: 1fr;
    /* Apenas uma linha */
    height: 150px;
    margin: 25px 0 0 25px;
}

#pages .formation .container .img {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    background-size: cover;
    grid-row: 1;
    /* Primeira e única linha */
    grid-column: 1;
    /* Fica na primeira coluna */
}

#pages .formation .container .img.first {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6dRielCDQbQJ4SsSZlE-vjfZvLYSeeNSP5A&s');

}

#pages .formation .container .img.second {
    background-image: url('https://media.licdn.com/dms/image/v2/D4E0BAQEBNiN7GcL1Jg/company-logo_200_200/company-logo_200_200/0/1692125362867/lyceegabrielfaure_logo?e=2147483647&v=beta&t=P2cpftUIgjyVSGhABUIOJyDTBLlQJsjZy-3vZGrUYhk');

}

#pages .formation .container .img.third {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrpNYmTH7ls_4HJPzZ2_bIAsmDwR1BF6mVJiJTrqoat1tHKxurpTbrDsc3nxOGwdlG1T0&usqp=CAU');

}

#pages .formation .container .school p {
    width: 100%;
    height: 100%;
    text-align: start;
}


#pages .formation .content .school span {
    font-weight: bold;
    font-size: 1.2rem;
}

#pages .formation .content hr{
    margin: 50px 0;
}




/* -------------------------------- */
/* Estilo para a página contact */
/* -------------------------------- */

#pages .contact .content h1 {
    margin: 20px;
}

#pages .contact .content p {
    text-align: center;
    margin-bottom: 50px;
}

#pages .contact .content a {
    color: var(--primary-color);
    text-decoration: none;
}

#pages .contact .content a:hover {
    color: var(--secondary-color);
}

#pages .contact .content a:active {
    color: var(--tertiary-color);
}

#pages .contact .content .email-draw {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    background-color: var(--primary-color);
}

#pages .contact .content button {
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    margin: 30px auto;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pages .contact .content button:hover {
    background-color: var(--secondary-color);
}

#pages .contact .content button:active {
    background-color: #681a1a;
}